DATABASE_URL="postgresql://jasonkopacz:carbon@localhost:5432/carbon?schema=public"
DEV_DATABASE_URL="postgresql://jasonkopacz:carbon@localhost:5432/carbon?schema=public"
UPSTASH_REDIS_REST_URL="https://your-db.upstash.io"
UPSTASH_REDIS_REST_TOKEN="your-token-here"
ELECTRICITY_MAPS_API_TOKEN=""
